.b{
    color: rgb(208, 255, 0);;
    background-color: #696969;
    text-decoration: none;
    border:1px solid #ccc;
    border: none;
    width: 200px;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    border: 2px solid  rgb(208, 255, 0);
}
.b:hover{
    color: rgb(208, 255, 0);
    background-color: white;
}
.aa{
    text-decoration: none;
    color:  rgb(208, 255, 0);
    
}
table{
    width: 600px;
    border: 3px solid black;
    margin-top: 50px; 
    margin: auto;
    background-color: rgb(208, 255, 0);
    opacity: 0.3;
    border-radius: 10px;
}
td{
padding: 50px;
border: 3px solid black;
font-size: 25px;
text-align: center;
border-radius: 10px;
}
th{
padding: 50px;
border: 3px solid black;
font-size: 25px;
text-align: center;
border-radius: 10px;
}
.td{
    text-decoration: none;  
    color: black;
    display: inline-block;
}


